@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

$pu-blue: #93A9C2;
$pu-red: #A54242;
$pu-red-transparent: rgba(165, 66, 66, 0.6);
$pu-bg: #E6E8E6;
$pu-gray: #CED0CE;
$pu-green: #475841;
$pu-charcoal: #50514F;
$pu-bright-blue: #247BA0;

$chat-bg: rgba(147,169,194, 0.8);
$card-title-color: #5382ad;

$font: 'Oswald', Arial, sans-serif;
$border-radius: 4px;

$transition-time: 0.4s;
$rotation: 45deg;