@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

$pu-blue: #93A9C2;
$pu-red: #A54242;
$pu-bg: #E6E8E6;
$pu-gray: #CED0CE;
$pu-green: #475841;
$pu-charcoal: #50514F;
$pu-bright-blue: #247BA0;
$font: 'Oswald', Arial, sans-serif;