@import "variables";

body {
    margin: 0;
  background-color: white;
  font-family: $font;
    font-size: 22px;
  font-weight: 300;
}

.header {
  position: fixed;
    top: 0;
  width: 100%;
  height: 65px;
}

li {
  display: inline-block;
  margin: 10px;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

.hero {
    height: 100vh;
    color: white;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url(https://images.unsplash.com/photo-1464621922360-27f3bf0eca75?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1b0aa3802706c803f1c2f261d761f584) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.flex-container {
    width: 100vw;
    margin-top: 65px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.flex-row {
    width: auto;
}

.hero-title {
    width: auto;
    font-family: $font;
    font-weight: 300;
    text-align: center;
}

.h1 {
    font-size: 25vh;
    padding: 10px;
}

.h2 {
    font-size: 5vh;
    padding: 10px;
}

.h3 {
    font-size: 10vh;
    padding: 20px;
    padding-left: 100px;
}

.content {
    color: #000;
    height: 100vh;
}

.pu-button {
    color: #fff;
    height: 60px;
    width: 140px;
    font-size: 20px;
    font-family: $font;
    font-weight: 300;
    margin: 10px;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0);
    transition: all 0.5s;
      &:hover {
        background-color: #fff;
        color: $pu-charcoal;
        cursor: pointer;
      }
}

.avatar {
    position: absolute;
    background: no-repeat center center;
    background-size: cover;
    top: 18px; 
    right: 20px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 1px solid $pu-bright-blue;
        &:hover {
            cursor: pointer;
        }
}

.bert-content {
    font-size: 22px;
}


a, a:link, a:visited, a:hover {
    text-decoration: none;
}


p {
    font-size: 18px;
    line-height: 1.5;
    color: #000;
}

.editor-container {
    padding: 20;
    width: 600;
}

.editor {
    border: 1px solid #ccc;
    background: white;
    color: black;
    cursor: text;
    minHeight: 80;
    padding: 10;
      &:focus{
        background: #fff;
        box-shadow: 0;
        border: 3px solid $pu-bright-blue;
        padding: 10px;
        outline: none;
    }
}

.DraftEditor-root {
  /* Stop collapsing margins breaking our side control positioning */
  padding-top: 1px;
  position: relative;
    padding: 20;
    width: 600;
}

.DraftEditor-editorContainer {
    color: black;
    cursor: text;
    minHeight: 80;
    padding: 10;
      &:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid $pu-bright-blue;
	padding: 10px;
	outline: none;
}
}

.public-DraftEditorPlaceholder-root {
  position: absolute;
    color: black;
}

.story {
  width: 55vw;
  height: auto;
  background: whitesmoke;
  margin: 2%;
  opacity: 0.8;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
  border-radius: $border-radius;
  transition: opacity 0.5s;

&:hover {
  opacity: 1.0;
  cursor: pointer;
}
}


.story-img {
  background: no-repeat center;
  background-image: url('https://unsplash.it/600/140?random');
  background-size: cover;
  height: 140px;
  max-width: 100%;
  border-radius: 4px 4px 0 0;
}

.story-title {
  font-size: 24px;
  background: $pu-blue;
  position: relative;
  padding: 20px 10px 20px 60px;
  margin-top: -4%;
  color: #fff;
}

.story-author {
  font-size: 18px;
  position: relative; 
  float: right;
  margin-right: 20px;
}

.story-preview {
  color: #000;
  margin: 2%;
  padding: 10px 10px 10px 50px;
}

.story-faves {
  position: relative;
  float: right;
}

.draft-list-row {
    width: 65%;
  height: 50%;
  background: #fff;
  margin: 2%;
  opacity: 0.7;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: $border-radius;
  transition: opacity 0.5s;
    color: black;
}

.form-input {
  width: 85%;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 22px;
  border-radius: 0;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
  padding: 10px;

  &:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid $pu-bright-blue;
	padding: 10px;
	outline: none;
}
}

.dropdown-menu {
    position: absolute;
    right: 18px;
    margin-right: 10px;
	top: 50px;
	width: 100px;
    display: none;
    transition: all 0.5s;
}

.dropdown-username {
    display: block;
	background: #F8F8F8;
	width: 100px;
	height: 20px;
	padding: 5px 0 0 10px;
	font: 13px Helvetica, sans-serif;
	text-decoration: none;
	color: #000000;
	color: rgba( 0, 0, 0, 0.4 );
    border-bottom: 1px solid rgba( 0,0,0, 0.2);
	box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.2 );    
    
    &:nth-child( 2 )
    {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
    }

    &:last-child
    {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
    }
}

.dropdown-link {
	display: block;
	background: #F8F8F8;
	width: 100px;
	height: 40px;
	padding: 0 0 0 10px;
	font: bold 13px Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	color: rgba( 0, 0, 0, 0.4 );
	line-height: 40px;
	box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.2 );
    &:nth-child( 2 )
    {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
    }

    &:last-child
    {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
    }

    &:hover { color: #555555; }
}

.arrow
{
	width: 0;
	height: 0;
	margin-left: 80%;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 9px solid #F8F8F8;
}

.hidden {
    display: none;
}
